<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>明星个人资料</title>
    <!-- 引入css-->
    <link rel="stylesheet" href="#">
</head>
<body>
<div class="star_div">
    <div>
        <!-- 显示头像-->
        <img src="#" alt="">
        <div class="right">
        <!-- 显示明星信息-->
            <div>姓名：丽莎</div>
            <div>年龄：20</div>
            <div>性别：女</div>
            <div>职业：歌手</div>
        </div>
    </div>
    <div>
        <h3>个人简介：</h3>
        <p class="info">I am girl</p>
    </div>


</div>
</body>
</html>
